# Secrets / entorno
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.venv/
venv/
env_ml/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Artefactos generados
reports/
logs/
*.log

# Notebooks
.ipynb_checkpoints/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
